services:
  node:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: sswu_sonsaekim-node
    container_name: sswu_sonsaekim-node
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis
      - flask
    restart: always

  flask:
    build:
      context: ./flask_server
      dockerfile: ./Dockerfile
    image: sswu_sonsaekim-flask
    container_name: sswu_sonsaekim-flask
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: sswu_sonsaekim-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always

volumes:
  redis-data:
